body
  font-family var(--font-family-sans-serif),"Noto Sans TC"
  height: 100%
  
#app
  height 100vh
  background: #333
  color:  white
  display: flex
  flex-direction: column 
  justify-content: center
  align-items: center

#nav
  margin-bottom: 2rem

#list
  background: white
  color: white  